NODE_ENV=development
PORT=3001
SERVICE_NAME=product-service

# PostgreSQL — lấy từ Supabase dashboard (sử dụng session pooler port 5432 để hỗ trợ migrate)
DATABASE_URL="postgresql://postgres.[PROJECT]:[PASSWORD]@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres"

# Dùng connection pooling cho production (transaction pooler port 6543)
DATABASE_URL_POOL="postgresql://postgres.[PROJECT]:[PASSWORD]@aws-0-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
